
@model TrainingLogin.Models.LoginStatus

@if (Model == TrainingLogin.Models.LoginStatus.Login)
{
    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
}
else
{
    <li>@Html.ActionLink("Login", "Login", "Home")</li>
    <li>@Html.ActionLink("Register", "Register", "Home")</li>
}